.person {
  display: flex;
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    padding: 10px 0;
    height: auto;
  }

  .mat-card {
    border-radius: 0;
    box-shadow: none;
  }

  .mat-list-item:last-of-type + mat-divider {
    display: none;
  }

  .person-card {
    max-width: 400px;
    flex-basis: 30%;
  }

  &__options {
    padding: 20px;
    background: #424242;
    flex-grow: 1;

    &-title {
      flex-basis: 30%;
    }

    &-value {
      flex-grow: 1;
    }
  }
}

